.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.login-form {
  width: 300px;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255, 177, 177, 0.3); /* Transparent background */
}

.login-header h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type='email'],
input[type='password'] {
  width: 90%;
  padding: 10px;
  background: rgba(255, 177, 177, 0.3);
  border-radius: 4px;
  border: none;
  color: black;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px; /* Adjust padding for better appearance */
  background-color: #b89270;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #867764;
  transform: scale(1.05);
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  border-bottom: 1px solid #b89270;
}

.or {
  margin: 0 10px;
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
